$primary_color: #FFFFFF;

$secondary_color: #282828;
$secondary_color2: #F2F2F2;
$secondary_color3: rgba(0, 0, 0, 0.2);

$text_color: #282828;
$text_color2: #909090;
$text_color3: #FFFFFF;

$border_color: #E5E5E5;
$border_color2: rgba(0, 0, 0, 0.2);
$border_color3: rgba(0, 0, 0, 0.1);

$button_color: $primary_color;
$button_color2: #282828;

$button_border: #282828;
