$primary_color: #FFFFFF;

$secondary_color: #282828;
$secondary_color2: #F2F2F2;

$text_color: #282828;
$text_color2: #909090;

$header_border: #E5E5E5;

$button_color: $primary_color;
$button_color2: #282828;

$button_border: #282828;
