
$sp_bp: 767px;
$tb_bp: 1178px;
$dt_bp: 1366px;
$xdt_bp: 1650px;

$container_sp_width: 100%;
$container_tb_width: 1160px;
$container_dt_width: 1484px;

$container_sp_width_footer: 789px;
$container_tb_width_footer: 1170px;
$container_dt_width_footer: 1484px;
$container_xdt_width_footer: 1640px;

$header_height: 80px;
